<h1 class="page-title centered">Photos</h1>
<div class="photo-container">
	<div ng-repeat="tile in photos" class="tile list-2-col">
			<img class="non-mobile-photos" ng-click="openPhotobox($index)" ng-src="img/{{tile.link}}" alt="{{tile.title}}">
			<img class="mobile-photos" ng-src="img/{{tile.link}}" alt="{{tile.title}}">
	</div>
</div>
<div class="photobox" ng-if="open">
	<h3 class="photobox-title centered noselect">{{photoboxTitle}}</h3>
	<div class="close-button noselect" ng-click="close()">X</div>
	<div class="photobox-image-container">
		<div class="photobox-prev noselect" ng-click="prev()"><h1 class="stretch"><</h1></div>
		<img class="photobox-img noselect" ng-src="img/{{photoboxSrc}}">
		<div class="photobox-next noselect" ng-click="next()"><h1 class="stretch">></h1></div>
	</div>
</div>
